@media (min-width: 550px) {
    .iw-modal-wrapper {
        max-width: 500px;
    }
}

@media (max-width: 1479px) {
    .optimization__сontainer{
        margin-left: 0;
    }
}

@media (max-width: 1366px) {
    .optimization__text{
      margin-left: -300px; 
      margin-right: 50px; 
    }

    .optimization__text span{
        line-height: 26px;
        font-size: 15px;
    }
}

@media (max-width: 1280px) {
    .optimization__сontainer{
        margin-top: 0px;
        margin-left: -80px;
    }

    .optimization__text span{
        line-height: 26px;
        font-size: 15px;
    }

    .optimization__text h2{
        font-size: 22px;
    }
}

@media (max-width: 1134px) {
    .textSkills{
        max-width: 300px;
        max-height: 160px;
    }

    .optimization__text span{
        font-size: 15px;
        line-height: 20px;
    }

    .optimization__text h2{
        font-size: 17px;
        margin-bottom: 15px;
    }
}
