@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Robotobold.ttf); 
   }

body{
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    width: 99vw;
    height: 100%;
    max-width: 1920px;
}

header{
    background-image: url("../img/main_bg.png");
    background-color: #000000;
    width: 98.5vw;
    height: 100%;
    display:block;
    text-align: center;
}

main{
    margin-left: 391px;
    margin-right: 391px;
}

.logoText{
    height: 24px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.create{
    display:inline-block;
    text-align: center;
    margin-top: 53px;
    width: 790px;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
}

.lines{
    margin-top: 20px;
}

.lineBefore, .lineAfter{
    display: inline-block;
    width: 292px;
    height: 2px;
    background: #FFFFFF;
}

.simple{
    width: 547px;
    height: 59px;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px; 
    text-transform: uppercase;
    color: #FFFFFF;
}

.correct{
    display:inline-block;
    margin-top: 20px;
    width: 958px;
    height: 41px;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
}

.introTxt{
    display:inline-block;
    margin-top: 23px;
    width: 1144px;
    height: 77px;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.free{
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
    color: #F9BF3B;
}

.btn{
    margin-top: 72px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    border: none;
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.more{
    display:inline-block;
    margin-top: 71px;
    width: 264px;
    height: 24px;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.down{
    display:inline-block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 33px;
    width: 30px;
    height: 19px;
}

.what{
    display:inline-block;
    text-align: center;
    margin-top: 88px;
    width: 582px;
    height: 23px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}