body{
    background: #FFFFFF;
    width: 100vw;
    height: 100%;
    max-width: 1920px;
    overflow-x: hidden;
}

header{
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    font-family: 'RobotoBold';
    font-style:normal;
    width: 100vw;
    height: 100%;
    padding-top: 40px;
    display:block;
    text-align: center;
}

a{
    text-decoration: none;
    height: 100%;
    outline: none;
}

a:visited, a:link{
    color: #FFFFFF;
}

input{
    margin-top: 20px;
    padding: .5em;
    border:0;
    box-shadow:0 0 15px 6px rgba(0,0,0,0.06);
    border-radius: 15px;
}

/* первый экран */

.logoText{
    height: 24px;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.create{
    display:inline-block;
    text-align: center;
    margin-top: 53px;
    width: 100vw;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: 60px;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px; 
    text-transform: uppercase;
    color: #FFFFFF;
}

.simple::before, .simple::after{
    content: '';
    position: absolute;
    margin-left: -310px;
    margin-top: 40px;
    width: 292px;
    height: 2px;
    background: #FFFFFF;
}

.simple::after{
    margin-left: 20px;
}

.correct{
    display:inline-block;
    margin-top: 20px;
    width: 100vw;
    height: 40px;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F9BF3B;
}

.introTxt{
    display:inline-block;
    margin-top: 24px;
    width: 1144px;
    height: 77px;
    font-family: 'RobotoThin';
    font-weight: 100;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.free{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #F9BF3B;
}

.btn{
    margin-top: 72px;
    width: 312px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    transition: all 0.5s ease;
}

.more{
    display:inline-block;
    margin-top: 72px;
    width: 264px;
    height: 24px;
    font-family: 'RobotoThin';
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffffb0;
}

.down{
    display:inline-block;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 32px;
    width: 32px;
    height: 20px;
}

/* Что вас ждет в нашем интенсиве? */

.intensive{
    width: 100vw;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    background: #F2F2F2;
    font-family: 'Roboto';
}

.what{
    margin-left: auto;
    margin-right: auto;
    padding-top: 88px;
    width: 584px;
    height: 24px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.separator{
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 8px;
    margin-top: 20px;
    background: #F9BF3B;
}

.freeWebinars{
    text-align: center;
    margin-top: 52px;
    height: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #4A4A4A;
}

.skills{
    display: flex;
    justify-content: center;
    column-gap: 48px;
    margin-top: 48px;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.textSkills{
    width: 344px;
    height: 200px;
    font-family: 'Roboto';
    color: #4A4A4A;
    text-align: center;
}

.skills img{
    margin-bottom: 28px;
}

/* Что такое оптимизация и зачем она нужна? */

.optContainer{
    max-width: 1379px;
    display: flex;
    max-height: 500px;
    margin-top: 48px;
    margin-left: 7.8%;
    margin-bottom: 74px;
}

.girl img{
    margin-top: 72px;
}


.optimizationText{
    justify-content:right;
    margin-left: -200px;
    
}

.optimizationText span{
    max-width: 752px;
    height: 312px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
   
}

.optimizationText h2{
    max-width: 772px;
    height: 32px;
    margin-top: 60px;
    padding-bottom: 25px;
    font-family: 'RobotoBold';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #299CBD;
}

.optimizationText b{
    font-family: 'RobotoBold';
}

/* По окончании обучения Вы сможете! */

.endOfLearning{
    background-image: url("../img/second_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.endOfLearning h2{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #EFEFEF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 88px;
    margin-top: 0;
}

.rectangle{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 220px;
    height: 8px;
    margin-top: 20px;
    background: #F9BF3B;

}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'RobotoThin';
    color: #EFEFEF;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

.skill{
    width: 232px;
    margin-bottom: 92px;
}

.backCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: #B4E2FF;
    width: 120px;
    height: 120px;
    border-radius: 50%; 
}

/* Для всех участников интенсива */

.present{
    width: 100vw;
    display:block;
    text-align: center;
    background: #EFEFEF;
}

.gift{
   padding-top: 84px;
   margin-bottom: 44px;
}

.giftTxt{
    max-width: 1160px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -22px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
}
.present .btn{
    margin-bottom: 88px;
}

.firstImg{
    margin-top: 88px;
    margin-bottom: 36px;
    display:block;
    text-align: center;
}

/* Первый вебинар состоится */

.webinar{
    width: 100vw;
}

.firstWebinar{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
    margin-bottom: 30px;
}

.sep{
    font-family: 'RobotoBold';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-bottom: 24px;
}

.late{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-bottom: 52px;
}

footer{
    padding-top: 56px;
    width: 100vw;
    height: 168px;
    background:#1A1A1A;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}

.underLine{
    text-decoration-line: underline;
}

/* Форма */

.iw-modal-btn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iw-modal {
    opacity: 0; /*изначально этот блок должен быть прозрачным*/ 
    background: rgba(0,0,0,0.7); 
    pointer-events: none; /*делаем чтобы по элементу нельзя было кликнуть когда он прозрачный*/
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
    }

.iw-modal:target {
    opacity: 1; /*при клике блок становится видимым*/
    pointer-events: auto; /*теперь по блоку можно кликать мышкой*/
    overflow-y: auto; /*прокрутка по вертикли страницы*/
}

.iw-modal-wrapper {
    margin:auto; 
    margin-top:25vh; 
}

    /*CSS-свойства для блока, содержащего контент модального окна */ 
 .iw-CSS-modal-inner {
    position: relative;
    background: #fff; 
    border: 1px solid #ccc; 
    border-radius: 0px; 
}

    /*CSS-свойства заголовка модального окна */
.iw-modal-header {
    padding: 15px;
    background:#f1f1f1;
    position:relative;
}

.iw-modal-title {
    font-size: 18px; 
    color:rgb(70, 70, 70); 
    font-weight:bold; 
    line-height: 1.5; 
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'RobotoBold';
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

    /*CSS для блока с текстом*/
.iw-modal-text {
    padding: 15px 20px; 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'RobotoThin';
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    background-color: whitesmoke;
}

.send{
display: flex;
flex-direction:row;
}

.formBtn{
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    border: none;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    box-shadow:2px 3px 0px rgba(0, 0, 0, 0.22); ;
    transition: all 0.5s ease;
}

  /*CSS для кнопки закрытия*/
  .iw-close {
    position:absolute;
    top:10px; 
    right:10px; 
    color: #000000; 
    font-size: 24px; 
    text-decoration: none;
    text-transform: uppercase;
}

.iw-close:hover, .iw-close:focus {
    margin-top: auto;
    color: #000; 
    cursor: pointer;
}
